---
layout: default
---

<div class="index">
    <div class="wrapper">
        <h1 class="right">{{ page.title }}</h1>
        <h2 class="left">Introduction</h2>
    </div>
</div>

<div class="profile {% if page.featured == true %} featured {% endif %}">
    {% if site.author_image != "" %}<img src="{{ site.author_image }}" class="profileimage" alt="user">{% endif %}
    <h4>{{ site.author_name }}</h4>
    <ul>
        {% if site.facebook_url != '' %}
        <li><a href="{{ site.facebook_url }}" class="smallsocialbutton facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        {% endif %}
        {% if site.github_url != '' %}
        <li><a href="{{ site.github_url }}" class="smallsocialbutton github" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.linkedin_url != '' %}
        <li><a href="{{ site.linkedin_url }}" class="smallsocialbutton linked" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        <li><a href="{{ site.url }}/feed.xml" class="smallsocialbutton rss" target="_blank"><i class="fa fa-rss"></i></a></li>
    </ul>
    <p>{{ site.author_bio }}</p>
    <hr>
</div>

<div id="cover" class="cover {% if page.featured == true %} featured {% endif %}">
    <div class="background" style="background-image:url('{{ page.banner_image }}');"></div>
    <header class="wrapper">
        <h2>
        	{% for category in page.categories %}
				{{ category }} 
          	{% endfor %}
        </h2>
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <span>
            Posted by <a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
        </span>
    </header>
    <i class="fa fa-chevron-down movedown"></i>
</div>

<section class="posts wrapper">
    <article class="post {% if page.featured == true %} featured {% endif %}">
        
        <header>
            <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
            <h2>
            	{% for category in page.categories %}
					{{ category }} 
          		{% endfor %}
            </h2>
            <h1 id="posttitle"><a href="#">{{ page.title }}</a></h1>
            <span>
                Posted by <a href="{{ site.author_url }}" target="_blank">{{ site.author_name }}</a>
                on <i class="fa fa-clock-o"></i> <time datetime="{{ page.date| date: "%Y-%m-%d" }}">{{ page.date | date: "%B %-d, %Y" }}</time>.
            </span>
        </header>

        <section class="postbody">
            {{ content }}
        </section>

        <footer>
            <ul class="share left">
                <li><a href="http://twitter.com/share?text={{ page.title }}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="smallbutton lightgray"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="smallbutton lightgray"><i class="fa fa-facebook"></i>Facebook</a></li>
            </ul>
        </footer>

        {% if page.comments %}
        <div class="comments">
            <a href="javascript:;" class="readmore smallbutton blue"><i class="fa fa-comments"></i>View Comments...</a>
            <div id="disqus_thread"></div>
            <div id="g-comments"></div>
        </div>
        {% endif %}

    </article>

</section>
